.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  color: var(--ifm-color-primary);
}

.desc {
  width: 75%;
  margin: 0 auto;
  color: #999;
}
.cardWrapper {
  --ifm-heading-margin-bottom: 0.5rem;
}
.cardHeader {
  align-items: center;
}
.featureDesc {
  color: var(--ifm-font-color-secondary);
}
