.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 50px;
  width: 50px;
}

.desc {
  width: 75%;
  margin: 0 auto;
  color: #999;
}
.cardWrapper {
  display: flex;
  --ifm-card-vertical-spacing: 0.5rem;
}
.cardHeader {
  align-items: center;
}
