/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  position: relative;
  overflow: hidden;
}

.heroContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-start;
}

.buttons {
  display: flex;
  align-items: center;
}

.btn {
  margin-right: 10px;
}
.btn:last-child {
  margin-right: 0;
}

.logo {
  width: 200px;
}

.relation {
  width: 40%;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.relation > * {
  text-align: center;
}
.relationTitle {
  color: var(--ifm-color-primary);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 1rem;
  }
  .heroContent {
    flex-direction: column;
  }
  .left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo {
    display: none;
  }
  .relation {
    width: 90%;
  }
  .codeExample {
    display: none;
  }
}
