.cardWrapper {
  display: flex;
}
.cardItem {
  display: flex;
  flex-direction: column;
  padding: 1.4rem 2rem;
  border-radius: 6px;
  border: solid 1px transparent;
  background: rgba(var(--ifm-color-primary-rgb), 0.1);
  text-decoration: none;
  transition: all 0.3s;
  flex: 1;
}
.cardItem:hover {
  text-decoration: none;
  border-color: var(--ifm-color-primary);
  box-shadow: 2px 2px 8px var(--ifm-color-emphasis-300);
}
.cardItem:not(:last-child) {
  margin-right: 1rem;
}
.cardTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cardTitle strong {
  color: var(--ifm-color-emphasis-900);
}
.cardDesc {
  margin-top: 0.6rem;
  font-size: 0.9rem;
}
.image {
  width: 1.8rem;
  margin-right: 0.6rem;
}
.image svg {
  width: 100%;
  height: auto;
  display: block;
}

@media screen and (max-width: 996px) {
  .cardWrapper {
    flex-direction: column;
  }
  .cardItem:not(:last-child) {
    margin-bottom: 1rem;
    margin-right: 0;
  }
}
