.contributorsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 24px 70px var(--ifm-color-emphasis-300);
  width: 60%;
  margin: 0 auto;
  padding: 4rem;
  padding-top: 0rem;
  border-radius: 1rem;
}
.rewards {
  width: 7rem;
  height: auto;
  position: relative;
  top: -2rem;
}

@media screen and (max-width: 996px) {
  .contributorsWrapper {
    width: 100%;
    padding: 2rem;
    padding-top: 0rem;
  }
}
