.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
}
.icon {
  width: auto;
  height: 42px;
  padding: 0 20px;
}

@media screen and (max-width: 996px) {
  .wrapper {
    margin: 24px;
  }
  .icon {
    height: 32px;
    padding: 0 10px;
  }
}
