/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  position: relative;
  overflow: hidden;
}

.heroContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  --ifm-button-padding-horizontal: 1rem;
}
.heroContent > h1 {
  font-size: 4rem;
}
.heroContent > p {
  font-size: 1.2rem;
}

.heroContent code {
  padding-left: 3rem;
  padding-right: 3rem;
}

.buttons {
  display: flex;
  align-items: center;
}

.btn {
  margin-right: 10px;
}
.btn:last-child {
  margin-right: 0;
}

.logo {
  width: 200px;
}

.relationContent {
  background: var(--ifm-color-emphasis-100);
  border-radius: 0.5rem;
  padding: 3rem 3rem;
  color: var(--ifm-color-emphasis-700);
  width: 56%;
  margin: 0 auto;
}
[data-theme='dark'] .relationContent {
  background: var(--ifm-color-emphasis-200);
}

.quota {
  font-size: 2rem;
  line-height: 2rem;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 1rem;
  }
  .heroContent {
    width: 90%;
  }
  .heroContent > h1 {
    font-size: 3.4rem;
  }
  .logo {
    display: none;
  }
  .relation {
    width: 90%;
  }
  .codeExample {
    display: none;
  }
  .relationContent {
    padding: 1rem 2rem;
    width: auto;
  }
}

.announcement {
  margin-top: 2rem;
  background: var(--ifm-color-emphasis-100);
  color: var(--ifm-color-primary);
  padding: 0.4rem 2rem;
  border-radius: 10rem;
  font-weight: 800;
  font-size: 0.9rem;
}

.titleGradient {
  background: linear-gradient(
    120deg,
    #009dff -50%,
    #d7c383 20%,
    #ff258e 40%,
    #a53eff 70%,
    #d7c383 90%,
    #009dff
  );
  background-clip: text;
  color: transparent;
  background-size: 200% auto;
  animation: bg-clip 10s steps(1000) infinite;
}
@keyframes bg-clip {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

/* thanks to https://github.com/chokcoco/iCSS/issues/266 */
.borderGradient {
  @apply rounded-2xl w-full h-full pointer-events-none;
  position: absolute;
  background: linear-gradient(135deg, #2e68ee, #55f6d3, #f655c6, #0f3);
  padding: 3px;
  -webkit-mask: linear-gradient(#fff 0 100%) content-box, linear-gradient(#fff 0 100%);
  -webkit-mask-composite: xor;
}

.bgCard {
  background-image: url('/img/bg-card.png');
}

.bgTitle {
  @apply absolute w-full h-full;
  background-image: linear-gradient(45deg, #5b38d814 30%, #32a2ed3f);
  filter: blur(130px);
  border-radius: 50%;
  transform: translate3d(-25%, -30%, 0);
}

[data-theme='dark'] .bgTitle {
  background-image: linear-gradient(45deg, #5b38d84f 30%, #32a2ed3f);
}

.bgImage {
  @apply absolute w-full h-full;
  background: rgba(92, 188, 232, 0.2);
  filter: blur(180px);
  border-radius: 50%;
  transform: translate(35%, 30%);
}
[data-theme='dark'] .bgImage {
  background: rgba(216, 216, 216, 0.2);
}
