/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
.announcement {
  margin-top: 2rem;
  background: var(--ifm-color-emphasis-100);
  color: var(--ifm-color-primary);
  padding: 0.4rem 2rem;
  border-radius: 10rem;
  font-weight: 800;
  font-size: 0.9rem;
}

.titleGradient {
  background: linear-gradient(
    120deg,
    #d7c383 -50%,
    #009dff 20%,
    #ff258e 40%,
    #a53eff 70%,
    #009dff 90%,
    #d7c383
  );
  background-clip: text;
  color: transparent;
  background-size: 200% auto;
  animation: bg-clip 10s steps(1000) infinite;
}
@keyframes bg-clip {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

/* thanks to https://github.com/chokcoco/iCSS/issues/266 */
.borderGradient::before {
  content: '';
  display: block;
  @apply rounded-2xl w-full h-full pointer-events-none;
  position: absolute;
  background: linear-gradient(
    135deg,
    rgba(47, 108, 244, 1),
    rgba(85, 246, 211, 0.7),
    rgba(245, 84, 197, 0.6),
    rgba(54, 54, 54, 0.2)
  );
  padding: 2px;
  -webkit-mask: linear-gradient(#fff 0 100%) content-box, linear-gradient(#fff 0 100%);
  -webkit-mask-composite: xor;
}

.bgTitle {
  @apply absolute w-full h-full;
  background-image: linear-gradient(45deg, #5b38d814 30%, #32a2ed3f);
  filter: blur(130px);
  border-radius: 50%;
  transform: translate3d(-25%, -30%, 0);
}
[data-theme='dark'] .bgTitle {
  background-image: linear-gradient(45deg, #5b38d84f 30%, #32a2ed3f);
}

.decoratedPurple::before {
  @apply absolute w-[460px] h-[460px] md:w-[620px] md:h-[620px] bg-[#755FC21A] dark:bg-[#755FC266];
  content: '';
  filter: blur(200px);
  border-radius: 50%;
  transform: translate(-30%, -30%);
}

.bgImage {
  @apply absolute w-full h-full;
  background: rgba(92, 188, 232, 0.2);
  filter: blur(180px);
  border-radius: 50%;
  transform: translate(35%, 30%);
}
[data-theme='dark'] .bgImage {
  background: rgba(216, 216, 216, 0.1);
}
