.wrapper {
  --ifm-spacing-horizontal: 0;
}
.framework {
  padding: 0.6rem 1rem;
  border: solid 1px var(--ifm-color-emphasis-300);
  border-radius: 0.5rem;
  transition: all 0.3s;
  font-size: 0.9rem;
  color: var(--ifm-font-color-secondary);
  margin-right: 0.8rem;
  margin-bottom: 0.8rem;
  background: var(--ifm-color-emphasis-0);
  text-decoration: none;
}
[data-theme='dark'] .framework {
  background: var(--ifm-color-emphasis-200);
}
.unavailableWrapper {
  background: var(--ifm-color-emphasis-200) !important;
}
[data-theme='dark'] .unavailableWrapper {
  background: var(--ifm-color-emphasis-100) !important;
}

.framework:hover {
  text-decoration: none;
  color: var(--ifm-font-color-secondary);
  transform: scale(1.1);
  border-color: transparent;
  box-shadow: 1px 1px 18px var(--ifm-color-emphasis-200);
}
.icon {
  width: auto;
  height: 1.6rem;
  padding: 0 1rem;
  transition: all 0.3s;
  margin-bottom: 0.2rem;
}
.iconUnavailable {
  filter: grayscale(100%);
}

@media screen and (max-width: 996px) {
  .wrapper {
    width: 100%;
  }
  .icon {
    height: 1.4rem;
    padding: 0 1rem;
  }
  .iconPlus {
    text-align: center;
    margin-bottom: 0.8rem;
  }
}
