// place your custom styles here
// 全局
html, body {
  font-size: 14px;
}

// scroll bar style
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  display: none;
}
::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 8px;
}
:hover {
  &::-webkit-scrollbar-thumb {
    background-color: var(--grey14);
  }
}

// 首页样式修改
.home.project .feature:hover {
  transform: translate(0, 0);
  box-shadow: none;
}
.home.project .features {
  border-top: none;
}
.features,
.hero img,
.hero #main-title,
.hero .description,
.hero .actions
 {
  transition: none !important;
}


// 导航栏
.navbar {
  box-shadow: none;
}


// 侧边栏
.sidebar {
  box-shadow: none;
  font-size: 14px;

  .sidebar-heading {
    font-size: 1em;
    font-weight: bolder;
  }

  .sidebar-link {
    width: 90%;
    border-radius: 4px;
    border-left-width: 0;
    margin-left: 10px;
  }
}

.toggle-sidebar-wrapper {
  display: none;
}

// 面包屑
.breadcrumb {
  font-size: 1rem;
}


// 文档标题
h1, h2, h3 {
  font-weight: 600;
  border-bottom: none;
}
h1 {
  font-size: 1.6rem;
}
h2 {
  font-size: 1.3rem;
}
h3 {
  font-size: 1.1rem;
}

// 文档标题
.page-info hr {
  border: none;
}

// 文档引用
blockquote > p {
  color: var(--light-grey);
  font-style: italic;
  &::before,
  &::after {
    content: "“";
    font-size: 1.5rem;
    font-weight: bolder;
    font-style: italic;
  }
}
div[class*=language-] > button.copy:not(.pure) {
  background: var(--theme-color);
  &:hover {
    background: var(--theme-color);
  }
}

// 文档链接
.theme-hope-content a span,
.page-meta a span {
  display: none;
}


// 文档tab栏
.tab-list {
  border: solid 1px var(--c-border);
}

.tab-list-nav {
  background: transparent;
}
.tab-list-nav-item {
  border-radius: 8px;
  padding: 0.2em 0.6em;
  margin: 0.4em;
}
.tab-list-nav-item.active {
  background: var(--theme-color-mask);
  &::before, &::after {
    background: none;
  }
}

// vue-playground样式修改
.vue-playground-wrapper {
  .title-wrapper {
    background: none !important;
  }
  .right {
    height: 400px !important;
  }
  @media (max-width: 720px) {
    .right {
      height: 400px !important;
    }
  }
}