// you can change colors here
$theme-color: #8C3BF4;

// 将边框颜色加深
$border-color: (
  light: #f2f2f2,
  dark: #444,
);
$text-color: (
  light: #2c3e50,
  dark: #fff,
);
$bg-color: (
  light: #fff,
  dark: rgb(18, 24, 38),
);
$bg-color-blur: (
  light: rgba(255, 255, 255, 0.2),
  dark: rgba(18, 24, 38, 0.6),
);
$bg-color-float-blur: (
  light: rgba(255, 255, 255, 0.2),
  dark: rgba(18, 24, 38, 0.6),
);