.navWrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: var(--ifm-navbar-background-color);
}

.navTips {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  border-bottom: solid 1px var(--ifm-table-border-color);
}

.navPlaceholer {
  height: 96px;
}
