/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0e42ee;
  --ifm-color-primary-dark: #0d3bd6;
  --ifm-color-primary-darker: #0c38ca;
  --ifm-color-primary-darkest: #0a2ea7;
  --ifm-color-primary-light: #2353f2;
  --ifm-color-primary-lighter: #2f5cf3;
  --ifm-color-primary-lightest: #5378f5;
  --ifm-blockquote-color: var(--ifm-color-gray-600);
  --ifm-font-family-base: Inter, system-ui, sans-serif;
  --ifm-heading-font-family: Inter, system-ui, sans-serif;
  --ifm-font-family-monospace: JetBrains Mono, ui-monospace, monospace;
  --ifm-font-weight-bold: 700;
  --ifm-alert-shadow: none;
  --ifm-menu-link-padding-vertical: 0.3rem;
  --ifm-navbar-shadow: none;
  --ifm-color-primary-rgb: 14, 66, 238;
  --docusaurus-highlighted-code-line-bg: rgba(255, 217, 120, 0.2);

  --docusaurus-announcement-bar-height: auto !important;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #4c6dd6;
  --ifm-color-primary-dark: #345ad1;
  --ifm-color-primary-darker: #2e53c9;
  --ifm-color-primary-darkest: #2644a5;
  --ifm-color-primary-light: #6480db;
  --ifm-color-primary-lighter: #6f8ade;
  --ifm-color-primary-lightest: #93a7e6;
  --ifm-color-primary-rgb: 76, 109, 214;
}

/* GitHub */
.header-github-link {
  &::before {
    content: '';
    width: 24px;
    height: 24px;
    display: flex;
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
      no-repeat;
  }
}
.header-x-link:before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background-size: contain !important;
  background: url('/img/x.svg');
}
.header-discord-link:before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background-size: contain !important;
  background: url('/img/discord.svg');
}
.header-wechat-link {
  fill: red;
  color: red;
  --wechat-color: red;
}
.header-wechat-link:before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background-size: contain !important;
  background: url('/img/wechat.svg');
}
// dark mode icons
html[data-theme='dark'] {
  .header-github-link:before {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
      no-repeat;
  }
  .header-x-link:before {
    background: url('/img/x-dark.svg');
  }
  .header-discord-link:before {
    background: url('/img/discord-dark.svg');
  }
  .header-wechat-link:before {
    background: url('/img/wechat-dark.svg');
  }
}

/* sidebar */
:root {
  --ifm-navbar-height: 82px;
}
.navbar {
  padding: 0;
  background-color: transparent;
}
.navbar__inner {
  backdrop-filter: blur(16px);
  background: rgba(255, 255, 255, 0.4);
  padding: var(--ifm-navbar-padding-vertical) var(--ifm-navbar-padding-horizontal);
}
html[data-theme='dark'] {
  .navbar__inner {
    background: rgba(24, 24, 24, 0.4);
  }
}
.theme-doc-sidebar-menu > li > .menu__list-item-collapsible {
  font-weight: bolder;
  font-style: italic;
  --ifm-menu-color-background-hover: none;
  --ifm-menu-color-active: none;

  .menu__link {
    color: var(--ifm-color-emphasis-500);
  }

  &::before {
    content: '';
    display: block;
    width: 96%;
    border-top: dashed 1px var(--ifm-color-emphasis-200);
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
  }
}

@mixin arrow-icon-size {
  background-size: 1rem 1rem;
}
.menu__link {
  font-size: 0.9rem;
  line-height: 1.5;
  &--active {
    color: var(--ifm-color-emphasis-900);
  }
  &:after {
    @include arrow-icon-size;
  }
  .menu__list {
    font-weight: normal;
  }
}
.theme-doc-sidebar-item-category {
  @extend .menu__link;
}
.menu__caret:before {
  @include arrow-icon-size;
}

/* pagination nav */
.pagination-nav__label {
  margin-top: 1rem;
}
.pagination-nav__link {
  &:hover .pagination-nav__label::before {
    transform: translateX(-0.3rem);
  }
  &:hover .pagination-nav__label::after {
    transform: translateX(0.3rem);
  }
  &--prev .pagination-nav__label::before {
    content: '<-';
    transition: all 0.3s;
    display: inline-block;
    margin-right: 0.5rem;
  }
  &--next .pagination-nav__label::after {
    content: '->';
    transition: all 0.3s;
    display: inline-block;
    margin-left: 0.5rem;
  }
}

/* toc(table of content) */
.table-of-contents__link:hover {
  font-weight: 700;
}

/* article */
.theme-doc-breadcrumbs {
  margin-bottom: 3rem !important;
}
.markdown h2:not(.text--truncate) {
  border-top: solid 1px var(--ifm-color-emphasis-300);
  padding-top: 2rem;
}
code {
  vertical-align: baseline;
  border: none;
  padding: 0.0625rem 0.25rem;
}
article {
  a:not([class]) {
    text-decoration: underline;
    text-decoration-color: var(--ifm-color-primary-lightest);
    text-underline-offset: 0.0625em;
    text-decoration-thickness: auto;
  }
  section {
    .card {
      box-shadow: none;
      background: var(--ifm-color-emphasis-100);
      &:hover {
        border-color: transparent;
        background: none;
      }
    }
  }
}

table {
  th,
  td {
    border: none;
  }
  thead tr {
    border-bottom: none;
  }
}
.theme-code-block {
  box-shadow: none !important;
  border: solid 1px var(--ifm-color-emphasis-200);
}
.tabs {
  border-bottom: solid 1px var(--ifm-color-emphasis-300);
  background: var(--ifm-color-emphasis-100);
  .tabs__item {
    border-radius: 0;
  }
}
/* footer */
:root {
  --ifm-footer-background-color: var(--ifm-color-emphasis-0);
  --ifm-footer-title-color: var(--ifm-color-emphasis-500);
  --ifm-footer-link-color: var(--ifm-color-emphasis-900);
  --ifm-footer-padding-vertical: 4rem;
}
.footer {
  &__title {
    font-size: 0.9rem;
  }
  &__link-item:hover {
    text-decoration: none;
  }
}

/* //////// 自定义类 //////// */
/* flex */
.flex-row {
  display: flex !important;
  flex-direction: row;
}
.flex-col {
  display: flex !important;
  flex-direction: column;
}
.justify-between {
  justify-content: space-between !important;
}
.align-center {
  align-items: center !important;
}
.align-start {
  align-items: flex-start !important;
}
.align-end {
  align-items: flex-end !important;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-1 {
  flex: 1;
}

@tailwind components;
@tailwind utilities;

.use-tailwind {
  @tailwind base;

  * {
    margin: 0;
  }

  @layer components {
    .ctw-button-primary {
      transition: background-color 0.2s;
      @apply box-content leading-[40px] h-[40px] px-5 text-white z-10 relative cursor-pointer text-base font-medium mt-3 lg:mt-6 rounded-lg bg-primary-500  border-[1.5px] border-transparent;

      @apply dark:bg-primary-500;

      &:hover {
        @apply hover:bg-primary-600;
        // dark
        @apply dark:hover:bg-primary-600;
      }
    }

    .ctw-button-secondary {
      transition: color 0.2s, border-color 0.2s;
      @apply box-content leading-[40px] h-[40px] px-5 z-10 relative cursor-pointer text-base font-medium mt-3 lg:mt-6 rounded-lg border-[1.5px] border-gray-400;
      // dark
      @apply dark:text-gray-500 dark:border-gray-500;

      &:hover {
        @apply opacity-100 border-gray-700 text-gray-700;
        // dark
        @apply dark:hover:border-gray-400 dark:hover:text-gray-300;
      }
    }

    .ctw-link {
      transition: color 0.2s;
      @apply text-gray-400 hover:text-gray-700 cursor-pointer;
      @apply dark:text-gray-400 dark:hover:text-gray-200;
    }

    .ctw-card {
      @apply bg-white;
      @apply dark:bg-white/5;
    }
  }
}
