/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
@import './preflight.scss';

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0a6cff;
  --ifm-color-primary-dark: #005fef;
  --ifm-color-primary-darker: #005ae1;
  --ifm-color-primary-darkest: #004aba;
  --ifm-color-primary-light: #257cff;
  --ifm-color-primary-lighter: #3284ff;
  --ifm-color-primary-lightest: #5a9cff;
  --ifm-color-primary-rgb: 10, 108, 255;

  --ifm-blockquote-color: var(--ifm-color-gray-600);
  --ifm-font-family-base: Inter, system-ui, sans-serif;
  --ifm-heading-font-family: Inter, system-ui, sans-serif;
  --ifm-font-family-monospace: JetBrains Mono, ui-monospace, monospace;
  --ifm-font-weight-bold: 700;
  --ifm-alert-shadow: none;
  --ifm-menu-link-padding-vertical: 0.3rem;
  --ifm-navbar-shadow: none;
  --docusaurus-highlighted-code-line-bg: rgba(var(--ifm-color-primary-rgb), 0.07);
  --docusaurus-announcement-bar-height: auto !important;
  --ifm-alert-border-color: var(--ifm-color-gray-600);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme='dark'] {
  --ifm-background-surface-color: #030e27 !important;
  --ifm-background-color: #040f26;
}

// navbar
.navbar__items--right .navbar__link {
  @apply text-font-500 dark:text-[#94A3B8] hover:text-black dark:hover:text-white;
}
.navbar__link {
  font-size: 0.9rem;
  font-weight: 700;
}
$--icon-size: 20px;

/* GitHub */
.icon-github {
  width: $--icon-size;
  height: $--icon-size;
}
.header-github-link {
  &:before {
    content: '';
    width: $--icon-size;
    height: $--icon-size;
    display: flex;
    background: url('/img/github.svg');
  }
}
.header-x-link {
  &:before {
    content: '';
    width: $--icon-size;
    height: $--icon-size;
    display: flex;
    background-size: contain !important;
    background: url('/img/x.svg');
  }
}
.header-discord-link:before {
  content: '';
  width: $--icon-size;
  height: $--icon-size;
  display: flex;
  background-size: contain !important;
  background: url('/img/discord.svg');
}
.header-wechat-link:before {
  content: '';
  width: $--icon-size;
  height: $--icon-size;
  display: flex;
  background-size: contain !important;
  background: url('/img/wechat.svg');
}
// dark mode icons
html[data-theme='dark'] {
  .header-github-link:before {
    background: url('/img/github.svg');
  }
  .header-x-link:before {
    background: url('/img/x-dark.svg');
  }
  .header-discord-link:before {
    background: url('/img/discord-dark.svg');
  }
  .header-wechat-link:before {
    background: url('/img/wechat-dark.svg');
  }
}
// doc-search
.doc-search {
  --docsearch-searchbox-background: transparent;
  --docsearch-muted-color: var(--ifm-color-emphasis-800);
}

/* sidebar */
:root {
  --ifm-navbar-height: 82px;
}
.navbar {
  padding: 0;
  background-color: transparent;
}
.navbar__inner {
  backdrop-filter: blur(16px);
  background: rgba(255, 255, 255, 0.4);
  padding: var(--ifm-navbar-padding-vertical) var(--ifm-navbar-padding-horizontal);
}
html[data-theme='dark'] {
  .navbar__inner {
    background: rgba(24, 24, 24, 0.4);
  }
}
.theme-doc-sidebar-menu > li > .menu__list-item-collapsible {
  font-weight: bolder;
  font-style: italic;
  --ifm-menu-color-background-hover: none;
  --ifm-menu-color-active: none;

  .menu__link {
    color: var(--ifm-color-emphasis-500);
  }

  &::before {
    content: '';
    display: block;
    width: 96%;
    border-top: dashed 1px var(--ifm-color-emphasis-200);
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
  }
}

@mixin arrow-icon-size {
  background-size: 1rem 1rem;
}
.menu__link {
  font-size: 0.9rem;
  line-height: 1.5;
  &--active {
    color: var(--ifm-color-emphasis-900);
  }
  &:after {
    @include arrow-icon-size;
  }
  .menu__list {
    font-weight: normal;
  }
}
.theme-doc-sidebar-item-category {
  @extend .menu__link;
}
.menu__caret:before {
  @include arrow-icon-size;
}

/* pagination nav */
.pagination-nav__label {
  margin-top: 1rem;
}
.pagination-nav__link {
  &:hover .pagination-nav__label::before {
    transform: translateX(-0.3rem);
  }
  &:hover .pagination-nav__label::after {
    transform: translateX(0.3rem);
  }
  &--prev .pagination-nav__label::before {
    content: '<-';
    transition: all 0.3s;
    display: inline-block;
    margin-right: 0.5rem;
  }
  &--next .pagination-nav__label::after {
    content: '->';
    transition: all 0.3s;
    display: inline-block;
    margin-left: 0.5rem;
  }
}

/* toc(table of content) */
.table-of-contents__link:hover {
  font-weight: 700;
}

/* article */
.theme-doc-breadcrumbs {
  margin-bottom: 3rem !important;
}
.markdown h2:not(.text--truncate) {
  border-top: solid 1px var(--ifm-color-emphasis-300);
  padding-top: 2rem;
}
code {
  vertical-align: baseline;
  border: none;
  padding: 0.0625rem 0.25rem;
}
article {
  a:not([class]) {
    text-decoration: underline;
    text-underline-offset: 0.3em;
    text-decoration-thickness: auto;
  }
  section {
    .card {
      box-shadow: none;
      background: var(--ifm-color-emphasis-100);
      &:hover {
        border-color: transparent;
        background: none;
      }
    }
  }
}

table {
  th,
  td {
    border: none;
  }
  thead tr {
    border-bottom: none;
  }
}
.theme-code-block {
  box-shadow: none !important;
  border: solid 1px var(--ifm-color-emphasis-200);
}
.tabs {
  border-bottom: solid 1px var(--ifm-color-emphasis-300);
  // background: var(--ifm-color-emphasis-100);
  --ifm-tabs-padding-vertical: 0.4rem;
  .tabs__item {
    border-radius: 0;
    border-bottom-width: 2px;
  }
}
/* footer */
:root {
  --ifm-footer-background-color: var(--ifm-color-emphasis-0);
  --ifm-footer-title-color: var(--ifm-color-emphasis-500);
  --ifm-footer-link-color: var(--ifm-color-emphasis-900);
  --ifm-footer-padding-vertical: 4rem;
}
.footer {
  &__title {
    font-size: 0.9rem;
  }
  &__link-item:hover {
    text-decoration: none;
  }
}

// details
details {
  --ifm-alert-background-color: transparent !important;
  --ifm-alert-border-color: var(--ifm-color-emphasis-300) !important;
  --docusaurus-details-summary-arrow-size: 0.3rem !important;
  summary {
    font-weight: 600;
    --docusaurus-details-decoration-color: var(--ifm-color-primary) !important;
    &::before {
      top: 0.55rem !important;
    }
  }
}

// alert-bar
.alert {
  background: transparent;
  color: var(--ifm-font-color-base);
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-right-width: 1px;
  border-radius: 2px;
}
.alert--success {
  --ifm-alert-foreground-color: var(--ifm-color-success-dark);
}
.alert--warning {
  --ifm-alert-foreground-color: var(--ifm-color-warning-dark);
}
.alert--danger {
  --ifm-alert-foreground-color: var(--ifm-color-danger-dark);
}
.alert--info {
  --ifm-alert-foreground-color: var(--ifm-color-info-dark);
}
.alert--note {
  --ifm-alert-foreground-color: var(--ifm-color-note-dark);
}

/* //////// 自定义类 //////// */
/* flex */
.flex-row {
  display: flex !important;
  flex-direction: row;
}
.flex-col {
  display: flex !important;
  flex-direction: column;
}
.justify-between {
  justify-content: space-between !important;
}
.align-center {
  align-items: center !important;
}
.align-start {
  align-items: flex-start !important;
}
.align-end {
  align-items: flex-end !important;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-1 {
  flex: 1;
}

@media (max-width: 1250px) {
  .navbar__item {
    display: none;
  }
}

// 仅改变主页的样式
html:not(.docs-wrapper) {
  &[data-theme='dark'] {
    background-color: #040f26;
  }

  .navbar__inner {
    background-color: transparent;
  }
}

// tabs using to show file
.file-tabs {
  border-bottom-style: none;
  font-size: 0.8rem;
  background: var(--prism-background-color);
  & + .margin-top--md {
    margin-top: 0 !important;
  }
  & + div .theme-code-block {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .tabs__item {
    border: solid 1px var(--ifm-color-emphasis-200);
    border-bottom: none;
    border-right-width: 0;
    $--tabs-border-radius: 6px;
    &:first-child {
      border-top-left-radius: $--tabs-border-radius;
    }
    &:last-child {
      border-right-width: 1px;
      border-top-right-radius: $--tabs-border-radius;
    }
  }
  .tabs__item--active {
    border-bottom: none;
    background: var(--ifm-color-emphasis-100);
  }
}

// tailwind
@tailwind components;
@tailwind utilities;
@tailwind base;

.use-tailwind {
  * {
    margin: 0;
  }
  @layer components {
    .ctw-button-primary {
      transition: background-color 0.2s;
      @apply box-content leading-[40px] h-[40px] px-5 text-white z-10 relative cursor-pointer text-base mt-3 md:mt-6 rounded-lg bg-primary-500  border-[1.5px] border-transparent font-bold;

      @apply dark:bg-primary-500;

      &:hover {
        @apply hover:bg-primary-600;
        // dark
        @apply dark:hover:bg-primary-600;
      }
    }

    .ctw-button-secondary {
      transition: color 0.2s, border-color 0.2s;
      @apply box-content leading-[40px] h-[40px] px-5 z-10 relative cursor-pointer text-base mt-3 md:mt-6 rounded-lg border-[2px] border-primary-100 font-bold;
      // dark
      @apply dark:text-font-500 dark:border-white/15;

      &:hover {
        @apply opacity-100 border-gray-700 text-gray-700;
        // dark
        @apply dark:hover:border-white dark:hover:text-white;
      }
    }

    .ctw-link {
      transition: color 0.2s;
      @apply text-gray-400 hover:text-gray-700 cursor-pointer;
      @apply dark:text-gray-400 dark:hover:text-gray-200;
    }

    .ctw-card {
      @apply bg-white;
      @apply dark:bg-white/5;
    }
  }
}
