/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #8c3bf4;
  --ifm-color-primary-dark: #7b1ef2;
  --ifm-color-primary-darker: #7310f2;
  --ifm-color-primary-darkest: #5e0bc9;
  --ifm-color-primary-light: #9d58f6;
  --ifm-color-primary-lighter: #a566f6;
  --ifm-color-primary-lightest: #bf91f9;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #8c3bf4;
  --ifm-color-primary-dark: #7b1ef2;
  --ifm-color-primary-darker: #7310f2;
  --ifm-color-primary-darkest: #5e0bc9;
  --ifm-color-primary-light: #9d58f6;
  --ifm-color-primary-lighter: #a566f6;
  --ifm-color-primary-lightest: #bf91f9;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
