.line {
  height: 6rem;
  border-left: solid 1px var(--ifm-color-primary);
}
.decorator {
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 2.6rem;
  color: var(--ifm-color-primary);
  background: rgba(var(--ifm-color-primary-rgb), 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  margin: 0 auto;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.title {
  font-size: var(--ifm-h1-font-size);
  margin-bottom: 0;
}
.subtitle {
  color: var(--ifm-color-emphasis-600);
}
.content {
  margin-top: 2rem;
}

@media screen and (max-width: 996px) {
  .title {
    font-size: var(--ifm-h2-font-size);
  }
  .wrapper {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
